*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
    min-height: 100vh;
    background: radial-gradient(#f0483a,#d10a20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    max-width: 90px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
}
.navigation li a{
    position: relative;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 1em;
   
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .text{
    width: 100%;
    max-width: 600px;
}
.content .text h2{
    color: white;
    font-size: 4em;
    font-weight: 300;
}
.content .text h2 span{
    font-weight: 800;

}
.content .text p{
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.2em;
    margin: 20px 0px;
}
.content .btn{
    position: relative;
    display: inline-block;
    background: white;
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 40px;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.25s;
   
}
.btn:hover{
    letter-spacing: 2px;
}
.slider{
    position: relative;
}
.slider .slides{
    display: none;
}
.slider .slides.active{
    display: block;
}
.slider .slides img{
    max-height: 500px;
    width: 100%;
    max-width: 600px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
}
.social{
    display: flex;
}
.social li{
    list-style: none;
}
.social li a{
    color: white;
    font-size: 2em;
    margin-right: 20px;
    display: inline-block;
    transition: 0.25s;
}
.social li a:hover{
    transform: scale(1.1) translateY(-5px);
}

.prevNext{
    position: relative;
}
.prevNext p{
    color: white;
    position: relative;
    text-align: end;
    margin-bottom: 15px;
}
.prevNext p::before{
    content: '';
    position: absolute;
    width:50px;
    height: 2px;
    background: white;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
}
.prevNext span{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 2em;
    color: white;
    cursor: pointer;
}
.prevNext span:nth-child(2){
    margin-right: 20px;
}